/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f5f6f7, #99acc4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

input[type="email"], input[type="password"],input[type="text"]  {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
}

input:focus {
    border-color: #4e5152;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #424d50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button[type="submit"]:hover:not(:disabled) {
    background-color: #9babbe;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.signup-text .signup-link {
    color: #0224e9;
    text-decoration: none;
    font-weight: bold;
}

.signup-text .signup-link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

#password-criteria {
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: red;
}

#password-criteria li {
    margin: 5px 0;
}

#password-criteria .valid {
    color: green;
}

#password-criteria .invalid {
    color: red;
}
#password-criteria {
    display: none; /* Cache les critères au début */
}
